/* THEME DARK */
:root {
  --bg: #000;
  --card-bg: #1a1a1a;
  --player-bg: #3d1409;
  --text: #ffffff;
  --text-dim: #999;
  --accent: #f0c9a5;
}

:root {
  --bg: #121212;         /* Un negro con más aire (estilo Spotify) */
  --card-bg: #1e1e1e;    /* Contraste suave con el fondo */
  --player-bg: #2d1b15;  /* Un marrón más oscuro y menos saturado */
  --text: #f5f5f5;       /* Blanco roto para no cansar la vista */
  --text-dim: #a0a0a0;
  --accent: #d4a373;     /* Un dorado/cuero más natural */
}

/* THEME LIGHT */
:root {
  --bg: #f5f5f5;
  --card-bg: #ffffff;
  --player-bg: #e0b899;
  --text: #000000;
  --text-dim: #666666;
  --accent: #b3541e;
}
